<% provide(:title, 'Sign in') %>

<script>enablejs_signin()</script>

<div id="signIn" class="frame">
  <p class="frameHead">Sign in</p>
  <form id="signInForm" action="#">
    <p class="frameLabel">
      <label for="email_1">Email:</label>
      <input class="inputField" type="text" name="email" id="email_1">
      <span class="formError">*Enter a valid email address.</span>
    </p>
    <p class="frameLabel">
      <label for="pass_1">Password:</label>
      <input class="inputField" type="password" name="pass" id="pass_1">
      <span class="formError">*Enter your password.</span>
    </p>
    <p class="buttonPos">
      <input class="submit" type = "submit" value = "Sign in" id="signInButt" />
      <span class="formError loginError"></span>
    </p>
  </form>
</div>

<div id="createAccount" class="frame">
  <p class="frameHead">Create new account</p>

  <%= form_for(@user, html: {id: "createAccountForm"}) do |f| %>
    <p class="frameLabel">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email, class: "inputField" %>
      <span class="formError">*Enter a valid email address.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :dispname, "Displayed Name:" %>
      <%= f.text_field :dispname, class: "inputField" %>
      <span class="formError">*Displayed name is required.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :firstname, "First Name:" %>
      <%= f.text_field :firstname, class: "inputField" %>
      <span class="formError">*First name is required.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :lastname, "Last Name:" %>
      <%= f.text_field :lastname, class: "inputField" %>
      <span class="formError">*Last name is required.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password, class: "inputField" %>
      <span class="formError">*Minimum length of 6.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :password_confirmation, "Confirm Password:" %>
      <%= f.password_field :password_confirmation, class: "inputField" %>
      <span class="formError">*Passwords don't match.</span>
    </p>
    <p class="frameLabel">
      <%= check_box_tag :terms %>
      <%= label_tag :terms, "I agree to the terms and conditions." %>
      <span class="formError termsError">*You have to agree to the terms and conditions.</span>
    </p>
    <p class="buttonPos">
      <%= f.submit "Create my account", id: "CreateButt", class: "submit" %>
    </p>
  <% end %>
</div>
