<% provide(:title, 'Sign in') %>

<script>enablejs_signin()</script>

<div id="signIn" class="frame">
  <p class="frameHead">Sign in</p>
  <%= form_for(:session, url: sessions_path, html: {id: "signInForm"}) do |f| %>
    <p class="frameLabel">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email, class: "inputField" %>
      <span class="formError">*Enter a valid email address.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password, class: "inputField" %>
      <span class="formError">*Enter your password.</span>
    </p>
    <p class="buttonPos">
      <%= f.submit "Sign in", id: "signInButt", class: "submit" %>
    </p>
  <% end %>
</div>

<div id="createAccount" class="frame">
  <p class="frameHead">Create new account</p>

  <%= form_for(:user, url: users_path, html: {id: "createAccountForm"}) do |f| %>
    <p class="frameLabel">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email, class: "inputField" %>
      <span class="formError">*Enter a valid email address.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :dispname, "Displayed Name:" %>
      <%= f.text_field :dispname, class: "inputField" %>
      <span class="formError">*Displayed name is required.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :firstname, "First Name:" %>
      <%= f.text_field :firstname, class: "inputField" %>
      <span class="formError">*First name is required.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :lastname, "Last Name:" %>
      <%= f.text_field :lastname, class: "inputField" %>
      <span class="formError">*Last name is required.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password, class: "inputField" %>
      <span class="formError">*Minimum length of 6.</span>
    </p>
    <p class="frameLabel">
      <%= f.label :password_confirmation, "Confirm Password:" %>
      <%= f.password_field :password_confirmation, class: "inputField" %>
      <span class="formError">*Passwords don't match.</span>
    </p>
    <p class="frameLabel">
      <%= check_box_tag :terms %>
      <%= label_tag :terms, "I agree to the terms and conditions." %>
      <span class="formError termsError">*You have to agree to the terms and conditions.</span>
    </p>
    <p class="buttonPos">
      <%= f.submit "Create my account", id: "CreateButt", class: "submit" %>
    </p>
  <% end %>
</div>
